################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/npm-debug.log
/web.config
/node_modules
/Build/bundle.js